*{
  margin: 5px;
}
.wrapper{
  width: 1024px;
  margin: 0px auto;
}
.header{
  height: 150px;
  background-color: green;
}
.secondRow{
  height: 450px;
}
.navigation{
  display: inline-block;
  width: 200px;
  height: 350px;
  background-color: blue;
  vertical-align: top;
}
.col{
  display: inline-block;

}
.subcontent{
  vertical-align: top;
  background-color: yellow;
  width: 250px;
  height: 200px;
}
.advertisement{
  margin-top: 20px;
  background-color: purple;
  height: 150px;
}
.main_content{
  text-align: center;
  display: inline-block;
  background-color: red;

}
@media only screen and (max-width: 480px) {
  .navigation{
    display: none;
  }
  .main_content{
    width: 97%;
  }
  .subcontent{
    width: 100%;
  }
}

@media only screen and (min-width: 481px) {
  .navigation{
    display: none;
  }
  .main_content{
    width: 97%;
  }

}

@media only screen and (min-width: 1024px) {
  .navigation{
    display: inline-block;
  }
  .main_content{
    width: 78%;
  }
}
